<%= form_for @category_changeset, "#", [phx_submit: :save_category_details, class: "flex flex-col space-y-9 mb-9"], fn f -> %>
  <%= label f, :name, "Category Name" %>
  <%= text_input f, :name, class: "w-full" %>

  <%= label f, :description, "Description" %>
  <%= textarea f, :description, class: "w-full" %>

  <%= submit "Update Category", class: "bg-yellow-500 rounded w-64 p-2 mr-2" %>
<% end %>