<section>
    <h1>New ballot for show_name</h1>

    <%= form_for @ballot_changeset, Routes.ballot_path(@conn, :create_ballot), fn f -> %>
        <%= label f, :voter %>
        <%= text_input f, :voter %>
        <%= hidden_input f, :show_id, value: @show_id %>

        <%= submit "Start Voting!" %>
    <% end %>
</section>