<h1>All Shows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <%= for show <- @shows do %>
      <tr>
        <td><%= show.name %></td>
        <td><%= show.categories %></td>
      </tr>
    <% end %>
  </tbody>
</table>