<h1>Show Show</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @show.name %>
  </li>
  <li>
    <strong>Categories:</strong>
    <%= list_of_keys(@show.categories, :name) %>
  </li>
  

</ul>

<span><%= link "Edit", to: Routes.show_path(@conn, :edit, @show) %></span>
<span><%= link "Back", to: Routes.show_path(@conn, :index) %></span>
